*{
    margin: 0;
    border: 1px;
    padding: 0;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    background: #dfd3c3;
    font-size: 18px;
}

i{
    font-size: 120px;
    width: 120px;
    height: 120px;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0.5% 2%;
    padding: 2% 8%;
    background: #f0ece2;
    align-self: center;
}

/* HEADER */

.header-text{
    font-size: 22px;
}

/* SCORES */

.scores{
    font-size: 80px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    padding: 30px 10px 0px 10px;
}

.user{
    font-size: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
}

/*   GAME container   */

.game-container{
    width: 70rem;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 10 20px;
    margin: 0 auto;
    background: #c7b198;
}

/* BOTH */
.choices{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5%;
    width: 240px;
    align-items: center;
}

.choice-container, .final-choice{
    display: flex;
    border: 5px solid;
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.final-choice-container{
    display: flex;
    min-width: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
}



.final-choice{
    position: absolute;
    top: 25%;
    padding: 30px;
}

.final-choice > i{
    font-size: 200px;
    width: 200px;
    height: 200px;
}

/* PLAYER */
.player-container{
    position: relative;
    padding: 5px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* COMPUTER */  
.computer-container{
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   Progress message   */
.bottom-container{
    font-size: 30px;
    background: #f0ece2;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-container > div{
    margin: 0 auto;
    background: #f0ece2;
    max-width: fit-content;
    padding: 6px 16px;
}

/* Message box */
.message-container{
    background: #c7b198;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border: 5px solid;
}

.message-text{
    padding: 20px;
    font-size: 30px;
}


.footer{
    width: 100%;
    background: #596e79;
    color: #F4F1DE;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}