*{
    margin: 0;
    border: 1px;
    padding: 0;
    text-align: center;
}

body{
    background: #5e4f7f;
    font-size: 18px;
}

i{
    font-size: 120px;
    width: 120px;
    height: 120px;
}

.main-container{
    margin: 0.5% 2%;
    padding: 2% 8%;
    background: #eaecf1;
}

/* HEADER */

.header-text{
    font-size: 22px;
}

/* SCORES */

.scores{
    font-size: 80px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    padding: 30px 10px 0px 10px;
}

/*   GAME container   */

.game-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10 20px;
    background: #d7e0f0;
}

/* BOTH */
.choices{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5%;
    width: 240px;
    align-items: center;
}

.choice-container, .final-choice{
    display: flex;
    border: 5px solid;
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.final-choice{
    position: absolute;
    top: 25%;
    padding: 30px;
}

.final-choice > i{
    font-size: 200px;
    width: 200px;
    height: 200px;
}

/* PLAYER */
.player-container{
    position: relative;
    padding: 5px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-final-choice{
    left: 120%;
}

/* COMPUTER */  
.computer-container{
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.computer-final-choice{
    right: 110%;
}

/*   Progress message   */
.bottom-container{
    font-size: 30px;
    background: #d5dbe8;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-container > div{
    background: #a1b4cf;
}

/* Message box */
.winner-message-container{
    margin: 10% 15%;
    padding: 5%;
    border: 5px solid;
}

.winner-message-text{
    padding: 20px;
    font-size: 30px;
}